.submit-button {
  padding: 0;
  margin: 0;
  height: 40px;
  border: none;
  background: none;
  font-size: 15px;
  border-radius: 5px;
  background-color: #36bbcd;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #2b9eae;
  transition: 0.3s;
}
