.App {
  background-color: #36bbcd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-desktop-wrapper {
  background-color: #252525;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: white;
  width: 500px;
  height: 700px;
  border-radius: 20px;
}

@media only screen and (max-width: 500px) {
  .App-desktop-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    height: 100vh;
    width: 100%;
    border-radius: 0px;
  }
}
